@media screen and (min-device-width: 992px) {
  body {
    margin: 0;
    /* font-family: ; */
  }
  .bg-grey {
    background: #f7f7f7;
    /* width: 100%; */
    margin: 50px;
    /* margin: 50px; */
    /* padding-left: 20px; */
  }
  .info {
    display: grid;
    /* margin: 50px; */
    /* width: inherit; */
    grid-template-columns: repeat(2, 50%);
    /* width: 100%; */
    /* align-content: center; */
    /* background-color: rgb(209, 206, 206); */
    /* height: 400px; */
  }
  .section-title {
    font-size: 40px;
    padding-bottom: 20px;
  }
  #target {
    padding-left: 150px;
    padding-right: 30px;
    padding-top: 70px;
    padding-bottom: 70px;
    /* margin-top: 50px; */
    /* margin-bottom: 50px; */
    background-color: rgb(247, 245, 245);
    /* width: 975px; */
  }
  #personal-info {
    padding-left: 30px;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: rgb(212, 211, 211);
    /* padding-right: 100px; */
    /* margin-top: 30px;
  margin-bottom: 30px; */
    /* width: 70%; */
  }
  .mt-40-info {
    margin-top: 0px;
  }

  section > .container {
    width: 100%;
    margin: auto;
    display: block;
    /* padding: 50px; */
    font-size: 25px;
  }
  .nav-bar {
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    background-color: white;
    /* display: flex; */
    padding-left: 25%;
    padding-right: 25%;
  }
  .nav-bar a {
    /* vertical-align: auto; */
    display: blocks;
    vertical-align: middle;
    line-height: normal;
    float: left;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 200px;
    border-right: 1px solid rgb(223, 220, 220);
  }
  .navbar-name {
    width: 350px !important;
  }
  .nav-bar a:hover {
    background-color: white;
    color: black;
  }
  /* .nav-bar a.container {
  background-color: #04aa6d;
  color: black;
} */
  /* .nav-bar {
  text-align: center;
  display: inline-block;
} */
  .text {
    position: absolute;
    top: 20%;
    left: 50%;
    /* bottom: 30%; */
    color: rgb(231, 232, 236);
    /* font-weight: 800px; */
    font-size: 30px;
    transform: translate(-50%, -50%);
  }
  .text2 {
    position: absolute;
    /* align-content: center; */
    top: 20%px;
    left: 20%;
    padding-top: 5px;
    font-size: 30px;
  }
  .img {
    position: relative;
    object-fit: cover;
    height: 700px;
    /* overflow: hidden; */
    object-position: 0% 0%;
    filter: blur(20px);
    filter: brightness(60%);
  }
  .icon1 {
    width: 17px;
    height: 17px;
    color: blue;
    top: 14px;
  }
  /* .j-i {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto auto;
  padding-left: 5%;
  padding-right: 5%;
  gap: 10px 30px;
} */
  .a {
    border: 1px solid rgb(221, 219, 219);
    padding: 50px 30px;
  }
  .b {
    border: 1px solid rgb(221, 219, 219);
    padding: 50px 30px;
  }
  .d {
    display: grid;
    grid-template-columns: 75% 25%;
  }
  .d2 {
    /* height: 20px; */
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* color: blue; */
  }
  .hobbies {
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: 100%;
    padding: 40px 40px 0px 40px;
  }
  /* .hobbies-item {
  border-radius: 50%;
  width: 100px;
  height: 100px; */
  /* } */
  ul {
    list-style: none;
  }

  ul li::before {
    content: "\2022";
    color: blue;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  /* Ngoai ngữ và kỹ năng */
  .c,
  .skill-item {
    width: 100%;
    padding: 0px 40px;
  }
  .rate {
    /* width: 80%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  /* display: flex;
  flex-wrap: wrap; */
    /* padding: 20px 0px;
} */
    background: #199cdb;
    display: inline-block;
    height: 2px;
    margin-right: 10px;
    width: 45px;
  }

  /* CHỨNG CHỈ */
  .c-c {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
  }
  .Chứng-chỉ {
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .c-c1 {
    /* font-size: 20px; */
    display: grid;
    grid-template-columns: repeat(2, minmax(30%, 60%));
    column-gap: 40px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    /* border-right: 1px solid #d6c08d; */
    border-bottom: 1px solid #d6c08d;
  }
  .img-cc {
    padding-top: 20px;
    /* width: 100%; */
  }
  /* Dự án */
  .Dự-án {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .da1 {
    margin: 0px 20px;
    width: calc(33.33% - 50px);
    flex: 1;
    /* flex-wrap: wrap; */
  }
  .img-da > img {
    /* display; */
    /* width: inherits; */
    width: 100%;
  }
  .name {
    /* width: 100%; */
    text-transform: uppercase;
    padding: 10px 20px;
    border: 1px solid #d0d0d0;
  }
  .da1 .time {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* width: 100%; */
    gap: 20px;
    padding: 10px 20px;
    font-size: 0.8em;
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
  }
  .content {
    font-size: 0.8em;
    color: gray;
  }
  .content table,
  .content td {
    border-collapse: collapse;
    border: 1px solid #d0d0d0;
  }
  /* footer */
  #footer ul {
    list-style: none;
    text-align: center;
  }
  #footer ul li {
    /* list-style-type: none; */
    margin: 0;
    padding: 0 5%;
    display: inline-block;
    /* justify-content: center; */
    /* align-items: center; */
    color: blue;
    font-size: 100%;
    /* height: 10px;
    width: 50px; */
  }
}
